@page
@model Fundacionproj.Pages.DonationModel
@{
}

<style>

    /* Most of the css structure and the html class tags where obtained through GPT *4 the images where obtained through flux */
    .carousel-item {
        position: relative;
        
        height: 600px; 
    }

        .carousel-item img {
            height: 100%;
            width: 100%;
            
            object-fit: contain; 
            filter: brightness(50%); 
        }


    .carousel-caption {
        position: absolute;
        top: 20%; 
        left: 10%; 
        transform: translateY(-20%); 
        text-align: left; 
        color: white;
        max-width: 40%; 
    }

    * Additional styles for the carousel controls */
    .carousel-control-prev, .carousel-control-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
        width: 5%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.5); 
        border-radius: 50%; 
    }

    .donate-button {
        background-color: #8b2a50;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        transition: background-color 0.3s;
        position: relative;
        left: 150%; 
        transform: translateX(-150%); 

        .donate-button:hover {
            background-color: #8b2a50; 
        }

    


    .donation-card {
        background-color: white; 
        color: #80AEBE; 
        border-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px; 
        overflow: hidden; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    .donation-card2 {
        background-color: #80AEBE; /
        color: #80AEBE; 
        overflow: hidden; 
    }

    
    .donation-card-body {
        padding: 20px; 
    }

        
        .donation-card-body .card-text {
            color: whitesmoke;
            font-weight: 300;
        }

            
            .donation-card-body .card-text strong {
                color: white; 
            }

    
    .donation-card iframe {
        border-radius: 10px 10px 0 0; 
        border: none; 
    }


</style>


<div class="hero-content">
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
        
        <ol class="carousel-indicators">
            <li data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#hero-carousel" data-bs-slide-to="2"></li>
            <li data-bs-target="#hero-carousel" data-bs-slide-to="3"></li>
            <li data-bs-target="#hero-carousel" data-bs-slide-to="4"></li>
        </ol>

        
        <div class="carousel-inner">
            @if (Model.Results != null && Model.Results.Any())
            {
                @for (int i = 0; i < 3; i++)
                {
                    var donation = Model.Results[i];
                    string imageSrc = "~/images/blonde_girl_with_doctor.jpg";

                    if (donation.TypeOfAssistance == "Transporte a Clinica")
                    {
                        imageSrc = "~/images/ambulance_with_little_girl.png";
                    }
                    else if (donation.TypeOfAssistance == "Alimentacion")
                    {
                        imageSrc = "~/images/Alimentacion.png";
                    }
                    else if (donation.TypeOfAssistance == "Ropa")
                    {
                        imageSrc = "~/images/Clothing.png";
                    }
                    else if (donation.TypeOfAssistance == "Pañales")
                    {
                        imageSrc = "~/images/mom_with_baby.png";
                    }
                    else if (donation.TypeOfAssistance == "Manutension")
                    {
                        imageSrc = "~/images/little-girl.webp";
                    }
                    else if (donation.TypeOfAssistance == "Medicamentos")
                    {
                        imageSrc = "~/images/Medicament.png";
                    }
                    else if (donation.TypeOfAssistance == "Asesoria Juridica")
                    {
                        imageSrc = "~/images/legal.png";
                    }

                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img src="@Url.Content(imageSrc)" class="d-block w-100" alt="@donation.Name">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="donation-name">@donation.Name</h1>
                            <h5 class="donation-details">Pais: @donation.Location</h5>
                            <h5 class="donation-details">Objetivo: @donation.Goal</h5>
                            <h5 class="donation-details">Cuantas personas se ayuda: @donation.Impact</h5>
                            <h5 class="donation-details">Estado de la donacion: @donation.AssistanceStatus</h5>
                            <a href="@donation.IframeLink" class="donate-button">Dona Ahora</a>
                        </div>
                    </div>
                }


            }


        <!-- Carousel Controls were made by GPT *4 -->
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



<div>
    <h3 class="highlighted-text">Apoya a diferentes causas para marcar una diferencia</h3>
    <div class="row">
            @if (Model.Resultsall != null && Model.Resultsall.Any())
        {
                @foreach (var donation in Model.Resultsall)
            {
                    <div class="col-md-4 mb-3">
                        <div class="card donation-card">
                            <iframe src="@donation.IframeLink" frameborder="0" style="width: 100%; height: 450px;"></iframe>
                        </div>
                        <div class="card donation-card2">
                            <div class="card-body donation-card-body">
                                <p class="card-text"><strong>Donde se hará la donación: </strong> @donation.Location</p>
                                <p class="card-text"><strong>Nivel de Urgencia: </strong> @donation.UrgencyLevel</p>
                                <p class="card-text"><strong>Categoría de la donación: </strong> @donation.TypeOfAssistance</p>
                                <p class="card-text"><strong>Para quién será esta donación: </strong> @donation.BeneficiaryGroup</p>
                                <p class="card-text"><strong>Cuántas personas podrías ayudar: </strong> @donation.Impact personas</p>
                                <p class="card-text"><strong>Cuánto tiempo hace falta para que termine esta donación: </strong> @donation.TimeNeededBefore.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                    </div>
            }
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#foundationCarousel').carousel();
    });


</script>
