@page
@model Fundacionproj.Pages.UserModel
@{
}

<h2 class="text-center">Registra una donacion</h2>

<div>
    Bienvenida: a la plataforma para edtar las donaciones !

</div>
<br>
<a class="btn btn-primary btn-sm" href="/Donations/Create">Crea una nueva Donacion</a>
<table class="table">
    <thead>
        <tr>
            <th>Donation ID</th>
            <th>Name</th>
            <th>Iframe Link</th>
            <th>Location</th>
            <th>Urgency Level</th>
            <th>Type of Assistance</th>
            <th>Beneficiary Group</th>
            <th>Impact</th>
            <th>Time Needed Before</th>
            <th>Assistance Status</th>
            <th>Goal</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listDonations)
        {
            <tr>
                <td>@item.DonationID</td>
                <td>@item.Name</td>
                <td>@item.IframeLink</td>
                <td>@item.Location</td>
                <td>@item.UrgencyLevel</td>
                <td>@item.TypeOfAssistance</td>
                <td>@item.BeneficiaryGroup</td>
                <td>@item.Impact</td>
                <td>@item.TimeNeededBefore</td>
                <td>@item.AssistanceStatus</td>
                <td>@item.Goal</td>
                <td>
                    <a class="btn btn-danger btn-sm" href="/Donations/Deletedonations?id=@item.DonationID">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
    

</table>